header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

header img {
  height: 15vh;
}

nav {
  display: flex;
  gap: 2rem;
}

.whatsapp {
  display: flex;
}

.whatsapp img {
  width: 25px;
  height: 25px;
}

@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    gap: 5vh;
  }
  header img {
    height: 10vh;
  }
}
